<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AngleSharp" version="0.11.0" targetFramework="net48" />
  <package id="AngleSharp.Css" version="0.10.0" targetFramework="net48" />
  <package id="HtmlAgilityPack" version="1.11.22" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net48" />
  <package id="NTextCat" version="0.2.1.30" targetFramework="net48" />
  <package id="Samhammer.LanguageDetection" version="2.0.0" targetFramework="net48" />
  <package id="SmartReader" version="0.7.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.0" targetFramework="net48" />
  <package id="System.Text.Encoding.CodePages" version="4.5.0" targetFramework="net48" />
  <package id="Ufal.UDPipe.CSharp.Unofficial" version="1.0.5" targetFramework="net48" />
</packages>